<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>

    <header class="container">
        <div class="row">
            <h1>
              <a href="{{ '/' | url }}">{{ metadata.title }}</a>
            </h1>
            {% include "components/nav.njk" %}
        </div>
    </header>

    <main class="container">
        <div class="row">
          {{ layoutContent | safe }}
        </div>
    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
